*{
    box-sizing: border-box;
}

h1 {
    font-family: 'Fontdiner swanky';
    font-size: 70px;
    text-align: center;
    color: plum;

}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

body {
    background-color: papayawhip;
   

}

#content {
    border: 2 px solid black;
    position: relative;
}

.warning, ul {
    color: red;
}

.fab {
    font-family: Bonbon;
    font-weight: Bold;
    font-size: 30px;
    color: gold;
}

.flab {
    font-family: Modak;
    font-size: 30px;
}

